{% extends 'index.html' %}
{% block title %}Dashboard{% endblock title %}
{% block styles %}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.create-event-button {
  margin-top: 20px;
  text-align: right;
}

.btn {
  background-color: #FF9900;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Updated font */
  border-radius: 5px;
}

.btn:hover {
  background-color: #FF8C00;
}

/* Updated CSS for event-box */
.event-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.event-box {
  position: relative;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  color: #fff;
  font-family: Arial, sans-serif; /* Updated font */
}


.event-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-image: url('https://cdn.mos.cms.futurecdn.net/cRFFW6JNXqEtkBA3P2U68m.jpg');
  background-size: cover;
  border: 2px solid green;
}

.event-box:hover .event-details {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background overlay */
  color: white; /* Set the text color to white */
}

.event-details {
  padding: 20px;
  transition: background-color 0.3s, color 0.3s; /* Add transition for smoother effect */
}


.event-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Updated font */
}

.event-info {
  margin-bottom: 10px;
}

.event-info span {
  display: block;
  font-size: 14px;
  color: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Updated font */
}

.event-ready {
  color: #4CAF50;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Updated font */
  text-transform: uppercase;
}

.event-waiting {
  color: #FF3D00;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Updated font */
  text-transform: uppercase;
}

/* New styles for matched and unmatched events */
.event-status {
  position: absolute;
  top: 10px;
  right: 10px;
}

.event-match-status {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Updated font */
  text-transform: uppercase;
}


.event-unmatched {
  background-color: blue;
}
{% endblock styles %}

{% block body %}
<div class="container">
  <div class="create-event-button">
    <button class="btn btn-primary" onclick="location.href='addevent'" role="button">Create an Event</button>
  </div>
  <div class="event-container">
    {% for event in gamedata %}
    <a href="/event/{{ event.id }}/">
      <div class="event-box">
        <div class="event-details">
          <div class="event-status">
            <span class="event-match-status {% if event.is_match %}event-matched{% else %}event-unmatched{% endif %}">
              {% if not event.is_match %}Ready to match{% endif %}
            </span>
          </div>
          <div class="event-title">{{ event.game }}</div>
          <div class="event-info">
            <span>Event ID: {{ event.id }}</span>
            <span>Created by: {{ event.user }}</span>
            <span>Match type: {{ event.match_type }}</span>
            <span>Amount: {{ event.amount }}</span>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock body %}

